<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_pba-training._tcp</string>
	</array>
	<key>RELAY_HTTP_BASE_URL</key>
	<string>$(RELAY_HTTP_BASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_mL3-wen-A-wzwysS80OJBw_RIJB-W65</string>
	<key>SUPABASE_URL</key>
	<string>https://xekttcnmsplvbprflsxv.supabase.co</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
